body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: auto;
  margin: 10px auto;

}

.content {
  background: #e3f4ff;
  padding: 16px;
  margin: 10px auto;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
  

}

button {
  margin: 0px auto;
  display: block;
  padding: 8px 24px;
}